<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DefaultConnection" 
          connectionString="Data Source=SQL5019.myWindowsHosting.com;Initial Catalog=DB_9E593B_tg;User Id=DB_9E593B_tg_admin;Password=tgdb1234" 
          providerName="System.Data.SqlClient" />
    <add name="DefaultConnection_DatabasePublish" 
         connectionString="Data Source=SQL5019.myWindowsHosting.com;Initial Catalog=DB_9E593B_tg;User ID=DB_9E593B_tg_admin;Password=tgdb1234" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="ImagesRoot" value="h:\root\home\tinygrip-001\www\site1\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

  <entityFramework xdt:Transform="Replace">
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="OutdoorSolution.Dal.ApplicationDbContext, OutdoorSolution.Dal">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[OutdoorSolution.Dal.ApplicationDbContext, OutdoorSolution.Dal], [OutdoorSolution.Dal.Migrations.Configuration, OutdoorSolution.Dal]], EntityFramework, PublicKeyToken=b77a5c561934e089">
          <parameters>
            <parameter value="DefaultConnection_DatabasePublish" />
          </parameters>
        </databaseInitializer>
      </context>
    </contexts>
  </entityFramework>

</configuration>